build/
.gradle/
app/build/
*.iml
local.properties
.idea/
.DS_Store
.*.swp
Thumbs.db
.idea/
/app/build/generated/
/app/build/intermediates/
/app/build/tmp/
/captures/
.navigation/
.cxx/
.gradle/
gradle-wrapper.properties
local.properties
